.avaliacoes {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.avaliacoes__chef {
   width: 500px;
   height: auto; 
}

.avaliacoes .section__subtitulo {
    font-size: 3em;
}

.avaliacoes__container {
    width: 50%;
}

.feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px var(--shadow);
}

.avaliacoes .btn-default {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
}

.feedback__avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback__titulo {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.feedback__descricao {
    padding-block: .7em;
    line-height: 1.2;
}

@media screen and (max-width: 1170px) {

    .avaliacoes {
        flex-direction: column;
    }

    .avaliacoes__chef {
        display: none;
    }

    .avaliacoes__container {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .avaliacoes__container .section__subtitulo {
        text-align: center;
    }

}

@media screen and (max-width: 442px) {

    .avaliacoes__container {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
    }

    .feedback__titulo {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .feedback__descricao {
        text-align: justify;
    }

    .avaliacoes .section__subtitulo {
        font-size: 2.2em;
    }

}

