.cabecalho {
    padding: 22px 8%;
    position: sticky;
    top: 0;
    background-color: var(--background-body);
    z-index: 3;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 8px; /* espaço entre o ícone e o texto */
    font-size: 2.2em;
    color: var(--color-logo);
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav__list-item a {
    text-decoration: none;
    color: var(--color-link);
    font-weight: 600;
    font-size: 1.2em;
}

.nav__list-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid var(--color-link-active);
}

.mobile__btn,
.mobile__menu {
    display: none;
}

.navbar .btn-default {
    font-size: 1.2em;
}

@media screen and (max-width: 1170px) {

    .cabecalho {
        position: relative;
    }

    .mobile__menu {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100px;
        background-color: var(--background-body);
        padding: 1.2em 2em;
    }

    .nav__list-item a {
        font-size: 1.5em;
    }

    .nav__list,
    .navbar a {
        display: none;
    }

    .mobile__btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .mobile__menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-nav__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-block: 12px;
    }

    .mobile-nav__list .nav__list-item {
        text-align: center;
    }

    .nav__logo {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 442px) {

    .cabecalho {
        position: relative;
    }

    .mobile__menu {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100px;
        background-color: var(--background-body);
        padding: 1.2em 2em;
    }

    .nav__logo {
        font-size: 1.4em;
    }

}