.capa {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                url('https://images.unsplash.com/photo-1513104890138-7c749659a591?q=80&w=1500');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: var(--branco);
}

.conteudo-capa {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}

.conteudo-capa__titulo {
    font-size: 2em;
}

.conteudo-capa__texto {
    font-size: 1.2em;
}

.btn-main {
    display: inline-block;
    background: var(--amarelo);
    color: var(--azul);
    padding: 1em 2.5em;
    text-decoration: none;
    font-weight: 700;
    border-radius: 30px;
    transition: transform 0.3s;
}

.btn-main:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
    .conteudo-capa {
        margin: auto;
    }

    .conteudo-capa__titulo {
        font-size: 4em;
    }

    .conteudo-capa__texto {
        font-size: 2em;
    }

    .btn-main {
        padding: 1.5em 3em;
        font-size: 1.3em;
    }
}