.carrossel {
    margin-bottom: 2em;
}

.carrossel__titulo {
    font-size: 2em;
    font-weight: 700;
    color: var(--azul);
    text-align: center;
    margin: 1.2em 0;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    background-color: var(--cor-de-fundo);
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.pizza-card__title {
    font-size: 1.17em;
    font-weight: 700;
    color: var(--azul);
    padding: 1em 0;
    text-align: center;
}

.pizza-card__description {
    font-weight: 300;
    color: var(--azul);
    padding: 0 1em;
    line-height: 1.2;
    text-align: center;
}