.favoritas-title {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--azul);
    text-align: center;
    margin: 1.6em 0;
}

.pizza-grid {
    display: flex;
    flex-direction: column;
}

.pizza-card {
    text-align: center;
    background-color: var(--branco);
}

.pizza-card img {
    width: 100vw;
}

.pizza-card__title {
    font-size: 1.17em;
    font-weight: 700;
    color: var(--azul);
    padding: 1em 0;
}

.pizza-card__description {
    font-weight: 300;
    color: var(--azul);
    padding: 0 1em;
    line-height: 1.2;
}

.pizza-card__price {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--vermelho);
    padding: 1em 0;
}