.footer-content {
    background-color: var(--azul);
    color: var(--branco);
    padding: 2.5em 0;
    text-align: center;
    line-height: 1.5;
}

.footer-info__title {
    font-size: 1.5em;
    font-weight: 700;
}

.footer-info__description {
    font-weight: 300;
}

.footer-socials {
    padding-top: 1em;
}

.footer-socials__description {
    font-weight: 500;
    padding-bottom: 1em;
}

.footer-socials__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socials__instagram {
    width: 30px;
}

.footer-socials__link,
.footer-info__link-whatsapp {
    color: var(--branco);
    cursor: pointer;
}

hr {
    margin: 0;
}

.footer-description {
    font-weight: 300;
    text-align: center;
    margin-block: 1em;
    color: var(--azul);

}

@media screen and (min-width: 1024px) {
    .footer-info__title {
        font-size: 2.5em;
    }

    .footer-info__description {
        font-size: 1.8em;
    }

    .footer-socials__description,
    .footer-socials__link {
        font-size: 1.5em;
    }

    .footer-socials__description {
        display: block;
        width: 50%;
        margin: auto;
        border-bottom: 1px solid var(--branco);
    }

    .footer-socials__instagram {
        width: 80px;
    }

    .footer-description {
        font-size: 1.5em;
    }
}