footer {
    background-color: #ffe8b4;
}

.footer__itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8% 24px 8%;
}

.footer__links {
    display: flex;
    align-items: center;
    gap: 18px;
}

.copyright {
    color: #1d1d1d;
    font-weight: 500;
}

@media screen and (max-width: 442px) {

    .footer__itens {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

}