.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1.5em 1.125em;
}

.nome-vermelho {
    color: var(--vermelho);
}

.nome-amarelo {
    color: var(--amarelo);
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    color: var(--azul);
}

.container__botao {
    display: none;
}

.lista-menu__botao {
    background: var(--vermelho);
    color: var(--branco);
    padding: 8px 20px;
    border-radius: 5px;

}

.pizza-logo {
    width: 40px;
}
