.inicio {
    display: flex;
    min-height: calc(100vh - 92px);
    position: relative;
}

.cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

.cta__titulo {
    font-size: 4em;
    color: var(--color-titulo);
    font-weight: 700;
    line-height: 1.2;
}

.cta__titulo span {
    color: var(--color-logo);
}

.cta__descricao {
    font-size: 1.2em;
    line-height: 1.2;
}

.cta__botoes {
    display: flex;
    gap: 24px;
}

.cta__botoes a {
    color: var(--color-titulo);
}

.phone__button{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 14px 4px var(--shadow);
    text-decoration: none;
    border-radius: 12px;
}

.social-media-botao {
    display: flex;
    gap: 18px;
}

.social-media-botao a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    font-size: 1.5em;
}

.banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

.banner img {
    height: 100%;
    width: fit-content;
}

.shape {
    background-color: #ffe8b4;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 10px;
    z-index: 1;
}

@media screen and (max-width: 1170px) {

    .inicio {
        min-height: 100%;
        padding-top: 0;
    }

    .banner,
    .banner img,
    .shape {
        display: none;
    }

    .cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .cta__titulo {
        font-size: 5em;
    }

    .cta__descricao {
        font-size: 2em;
    }

    .cta__botoes a,
    .social-media-botao a {
        font-size: 1.8em;
    }

}

@media screen and (max-width: 442px) {

    .cta__botoes {
        display: flex;
        flex-direction: column;
    }

    .cta__titulo {
        font-size: 2.5em;
    }

    .cta__descricao {
        font-size: 1.2em;
    }

    .cta__botoes a,
    .social-media-botao a {
        font-size: 1.2em;
    }

}