.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.section__titulo {
    color: var(--color-logo);
    font-size: 1.563em;
    margin-bottom: 1em;
}

.section__subtitulo {
    font-size: 2.1875em;
    margin-bottom: 1em;
}

.pizzas {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.pizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px 4px var(--shadow);
    position: relative;
    overflow: hidden;
}

.pizza-heart {
    position: absolute;
    background-color: var(--color-logo);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563em;
    color: var(--background-body);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.pizza__descricao {
    color: var(--pizza-descricao);
    text-align: center;
}

@media screen and (max-width: 1170px) {

    .section__titulo {
        font-size: 2.2em;
    }

    .section__subtitulo {
        font-size: 4em;
    }

    .pizzas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pizza {
        width: calc(40% - 12px);
    }

    .pizza__titulo {
        font-size: 1.6em;
    }

    .pizza__descricao {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 442px) {

    .pizza {
        width: 100%;
    }

    .section__titulo {
        font-size: 1.6em;
    }

    .section__subtitulo {
        font-size: 2.2em;
    }

}